<!-- Begin EmailOctopus Signup Form -->
<div id="newsletter-signup">
  <h2>Sign up to get our weekly free guide to selling digital downloads</h2>
  <p>Subscribe to our newsletter and never miss updates about our latest projects and offers.</p>

  <!-- EmailOctopus Form -->
  <script async src="https://eocampaign1.com/form/18baa2c8-b020-11ef-a300-55f6753a9a65.js" 
          data-form="18baa2c8-b020-11ef-a300-55f6753a9a65">
  </script>
  <noscript>
    <a href="https://eocampaign1.com/form/18baa2c8-b020-11ef-a300-55f6753a9a65" target="_blank">
      Fill out the form here
    </a>
  </noscript>
</div>
<!-- End EmailOctopus Signup Form -->
